# виртуальное окружение
.venv/
venv/
env/

# кэш PyCharm
.idea/

# кэш питона
__pycache__/
*.pyc

# модели MediaPipe (скачиваются скриптом автоматически)
dist/3_run_presentation/hand_landmarker.task

dist/
build/
*.zip
*.exe